* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desktop {
  background-color: blue;
  height: 100vh;
  width: 100vw;
}
.mobile {
  background-color: red;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  position: fixed;
  top: 0;
  transition: left 0.3s ease;
}
.show {
  left: 0;
}
.hide {
  left: 100%;
}
